<!DOCTYPE html>
<html>
<head>
	<title>jQuery插件</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font_icon/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery-plugin.css">
    <link href='/css/fonts.css' rel='stylesheet' type='text/css'>
</head>
<body>
<section class="navbar navbar-inverse navbar-fixed-top" id="navigation" class="">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="logo"><a data-scroll="" href="/" class="logo-text">Autozi</a></div>
            </div>
        </div>
    </div>            
</section>
<section id="j-header">
	<div class="j-header-main">
        <div class="j-header-title">寻找更少,做的更多</div>
    	<input type="text" class="j-header-search" placeholder="">
    	<button class="btn j-header-searchBtn" type="button">
    		<i class="pe-7s-search"></i>
    	</button>
    </div>
	<iframe sandbox="allow-scripts allow-same-origin" id="mh" src="/js/canvas.html"></iframe>
</section>
<section id="j-nav">
	<ul class="container m0">
		<li class="col-md-2-5">
			<i class="pe-7s-pen"></i>
			<a href="javasciprt">UI</a>
			<i class="pe-7s-angle-down"></i>
		</li>
		<li class="col-md-2-5">
			<i class="pe-7s-note"></i>
			<a href="javasciprt">输入</a>
			<i class="pe-7s-angle-down"></i>
		</li>
		<li class="col-md-2-5">
			<i class="pe-7s-film"></i>
			<a href="javasciprt">媒体</a>
			<i class="pe-7s-angle-down"></i>
		</li>
		<li class="col-md-2-5">
			<i class="pe-7s-paper-plane"></i>
			<a href="javasciprt">导航</a>
			<i class="pe-7s-angle-down"></i>
		</li>
		<li class="col-md-2-5">
			<i class="pe-7s-voicemail"></i>
			<a href="javasciprt">其他</a>
			<i class="pe-7s-angle-down"></i>
		</li>
	</ul>
	
</section>
<section id="j-subNav">
	<div class="container-fluid">
	    <div id="n1" class="nav-zi ty" style="display: block;height: 244px;">
	        <a href="#"><i class="pe-7s-display1"></i>背景</a>
	        <a href="#"><i class="pe-7s-bell"></i>对话框和灯箱</a>
	        <a href="#"><i class="pe-7s-repeat"></i>筛选及排序</a>
	        <a href="#"><i class="pe-7s-comment"></i>反馈</a>
	        <a href="#"><i class="pe-7s-graph1"></i>图表</a>
	        <a href="#"><i class="pe-7s-display2"></i>布局</a>
	        <a href="#"><i class="pe-7s-rocket"></i>加载</a>
	        <a href="#"><i class="pe-7s-ribbon"></i>标签</a>
	        <a href="#"><i class="pe-7s-plane"></i>网络类型</a>
	        <a href="#"><i class="pe-7s-info"></i>工具提示</a>
	    </div>
	</div>
</section>
<section id="j-content">
	<div class="container m0 bod">
        	<!--左-->

            <div class="col-lg-9 col-md-12 col-sm-12">
                <% for(var i=0; i<dataList.length; i++){%>
                <div class="col-lg-4 col-md-3 col-sm-4">
                    <a href="/jqueryPluginDetial?id=<%= dataList[i]._id %>" target="_blank"><img src="<%= dataList[i].Img %>"></a>
                    <div class="cover-info">
                        <a href="/jqueryPluginDetial" target="_blank"><h4><%= dataList[i].title %></h4></a>
                        <small><%= dataList[i].Describe %></small>
                    </div>
                    <div class="cover-fields">
                        <i class="pe-7s-credit"></i> &nbsp;
                        <%= dataList[i].pluginTypeId %>
                    </div>
                    <div class="cover-stat">

                    </div>        
                </div>
                <% }%>
                <!--<div class="col-lg-4 col-md-3 col-sm-4">-->
                    <!--<a href="/jqueryPluginDetial" target="_blank"><img src="http://assets.jq22.com/plugin/pc-b2d05bce-2db2-11e4-954d-000c29f61318.png"></a>-->
                    <!--<div class="cover-info">-->
                        <!--<a href="/jqueryPluginDetial" target="_blank"><h4>jQuery动态背景插件 jQuery.spritely</h4></a>-->
                        <!--<small>jQuery.spritely 是一个使用纯HTML和JavaScript来创建动态滚动背景的jQuery插件</small>                       -->
                    <!--</div>  -->
                    <!--<div class="cover-fields">-->
                        <!--<i class="pe-7s-credit"></i> &nbsp;-->
                        <!--动画效果-->
                    <!--</div>-->
                    <!--<div class="cover-stat">-->
                        <!--<i class="pe-7s-look"></i><span class="f10"> &nbsp;8235</span>-->
                        <!--<i class="pe-7s-like"></i><span class="f10"> &nbsp;39</span>-->
                        <!--<div class="cover-yh">-->
                            <!--<a href="mem10" data-container="body" data-toggle="popover" data-placement="top" data-content="驱魔人 " data-original-title="" title="">-->
                                <!--<i class="fa fa-user-secret"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>        -->
                <!--</div>-->
                <!---->
                <!--<div class="col-lg-4 col-md-3 col-sm-4">-->
                    <!--<a href="/jqueryPluginDetial" target="_blank"><img src="http://assets.jq22.com/plugin/pc-4b8c1ed6-29c9-11e4-a320-000c29f61318.png"></a>-->
                    <!--<div class="cover-info">-->
                        <!--<a href="/jqueryPluginDetial" target="_blank"><h4>js刮刮卡效果</h4></a>-->
                        <!--<small>js刮刮卡效果</small>                       -->
                    <!--</div>  -->
                    <!--<div class="cover-fields">-->
                        <!--<i class="pe-7s-credit"></i> &nbsp;-->
                        <!--游戏-->
                    <!--</div>-->
                    <!--<div class="cover-stat">-->
                        <!--<i class="pe-7s-look"></i><span class="f10"> &nbsp;19826</span>-->
                        <!--<i class="pe-7s-like"></i><span class="f10"> &nbsp;91</span>-->
                        <!--<div class="cover-yh">-->
                            <!--<a href="mem10" data-container="body" data-toggle="popover" data-placement="top" data-content="驱魔人 " data-original-title="" title="">-->
                                <!--<i class="fa fa-user-secret"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>        -->
                <!--</div>-->
                <!---->
                <!--<div class="col-lg-4 col-md-3 col-sm-4">-->
                    <!--<a href="/jqueryPluginDetial" target="_blank"><img src="http://assets.jq22.com/plugin/pc-a87fdfa2-2db5-11e4-954d-000c29f61318.png"></a>-->
                    <!--<div class="cover-info">-->
                        <!--<a href="/jqueryPluginDetial" target="_blank"><h4>jquery创建飘动的云插件jQlouds</h4></a>-->
                        <!--<small>jQlouds是一个jQuery插件,让您在网页中轻松创建飘动的云。有一些选项可以定制你想要的效果。</small>                       -->
                    <!--</div>  -->
                    <!--<div class="cover-fields">-->
                        <!--<i class="pe-7s-credit"></i> &nbsp;-->
                        <!--动画效果-->
                    <!--</div>-->
                    <!--<div class="cover-stat">-->
                        <!--<i class="pe-7s-look"></i><span class="f10"> &nbsp;102719</span>-->
                        <!--<i class="pe-7s-like"></i><span class="f10"> &nbsp;40</span>-->
                        <!--<div class="cover-yh">-->
                            <!--<a href="mem6" data-container="body" data-toggle="popover" data-placement="top" data-content="时光小屋 " data-original-title="" title="">-->
                                <!--<i class="fa fa-user-secret"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>        -->
                <!--</div>-->
                <!---->
                <!--<div class="col-lg-4 col-md-3 col-sm-4">-->
                    <!--<a href="/jqueryPluginDetial" target="_blank"><img src="http://assets.jq22.com/plugin/pc-ed1b5b98-2d95-11e4-8b02-000c29f61318.png"></a>-->
                    <!--<div class="cover-info">-->
                        <!--<a href="/jqueryPluginDetial" target="_blank"><h4>jquery下载所有版本（实时更新）</h4></a>-->
                        <!--<small>jquery下载,实时更新jquery1.2到最新2.1.4所有版本下载</small>                       -->
                    <!--</div>  -->
                    <!--<div class="cover-fields">-->
                        <!--<i class="pe-7s-credit"></i> &nbsp;-->
                        <!--独立的部件-->
                    <!--</div>-->
                    <!--<div class="cover-stat">-->
                        <!--<i class="pe-7s-look"></i><span class="f10"> &nbsp;507846</span>-->
                        <!--<i class="pe-7s-like"></i><span class="f10"> &nbsp;166</span>-->
                        <!--<div class="cover-yh">-->
                            <!--<a href="mem10" data-container="body" data-toggle="popover" data-placement="top" data-content="驱魔人 " data-original-title="" title="">-->
                                <!--<i class="fa fa-user-secret"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>        -->
                <!--</div>-->
                <!---->
                <!--<div class="col-lg-4 col-md-3 col-sm-4">-->
                    <!--<a href="/jqueryPluginDetial" target="_blank"><img src="http://assets.jq22.com/plugin/pc-c1b9eb82-2db2-11e4-954d-000c29f61318.png"></a>-->
                    <!--<div class="cover-info">-->
                        <!--<a href="/jqueryPluginDetial" target="_blank"><h4>jQuery的Tab插件 Yetii</h4></a>-->
                        <!--<small>Yetii 是一个 jQuery 用来实现 Tab 窗体的插件，目前尚不支持 Ajax 方式获取内容</small>                       -->
                    <!--</div>  -->
                    <!--<div class="cover-fields">-->
                        <!--<i class="pe-7s-credit"></i> &nbsp;-->
                        <!--Tabs-->
                    <!--</div>-->
                    <!--<div class="cover-stat">-->
                        <!--<i class="pe-7s-look"></i><span class="f10"> &nbsp;8536</span>-->
                        <!--<i class="pe-7s-like"></i><span class="f10"> &nbsp;16</span>-->
                        <!--<div class="cover-yh">-->
                            <!--<a href="mem10" data-container="body" data-toggle="popover" data-placement="top" data-content="驱魔人 " data-original-title="" title="">-->
                                <!--<i class="fa fa-user-secret"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>        -->
                <!--</div>-->
                <!---->
                <!--<div class="col-lg-4 col-md-3 col-sm-4">-->
                    <!--<a href="/jqueryPluginDetial" target="_blank"><img src="http://assets.jq22.com/plugin/pc-2462aa3a-423f-11e4-87b8-00163e001348.png"></a>-->
                    <!--<div class="cover-info">-->
                        <!--<a href="/jqueryPluginDetial" target="_blank"><h4>jQuery自动寻路</h4></a>-->
                        <!--<small>jQuery迷宫自动寻路(RPG游戏开发必须掌握的算法)</small>                       -->
                    <!--</div>  -->
                    <!--<div class="cover-fields">-->
                        <!--<i class="pe-7s-credit"></i> &nbsp;-->
                        <!--游戏-->
                    <!--</div>-->
                    <!--<div class="cover-stat">-->
                        <!--<i class="pe-7s-look"></i><span class="f10"> &nbsp;6433</span>-->
                        <!--<i class="pe-7s-like"></i><span class="f10"> &nbsp;28</span>-->
                        <!--<div class="cover-yh">-->
                            <!--<a href="mem18" data-container="body" data-toggle="popover" data-placement="top" data-content="  西瓜 " data-original-title="" title="">-->
                                <!--<i class="fa fa-user-secret"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>        -->
                <!--</div>-->
                <!---->
                <!--<div class="col-lg-4 col-md-3 col-sm-4">-->
                    <!--<a href="/jqueryPluginDetial" target="_blank"><img src="http://assets.jq22.com/plugin/pc-09f75a5e-2d97-11e4-8b02-000c29f61318.png"></a>-->
                    <!--<div class="cover-info">-->
                        <!--<a href="/jqueryPluginDetial" target="_blank"><h4>jquery整屏滚动插件Scrollify</h4></a>-->
                        <!--<small>Scrollify是一个jQuery插件,协助整屏滚动和顺利拍摄部分。完全可配置和优化。</small>                       -->
                    <!--</div>  -->
                    <!--<div class="cover-fields">-->
                        <!--<i class="pe-7s-credit"></i> &nbsp;-->
                        <!--滚动-->
                    <!--</div>-->
                    <!--<div class="cover-stat">-->
                        <!--<i class="pe-7s-look"></i><span class="f10"> &nbsp;23346</span>-->
                        <!--<i class="pe-7s-like"></i><span class="f10"> &nbsp;124</span>-->
                        <!--<div class="cover-yh">-->
                            <!--<a href="mem8" data-container="body" data-toggle="popover" data-placement="top" data-content="WEB小妞 " data-original-title="" title="">-->
                                <!--<i class="fa fa-user-secret"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>        -->
                <!--</div>-->
                <!---->
                <!--<div class="col-lg-4 col-md-3 col-sm-4">-->
                    <!--<a href="/jqueryPluginDetial" target="_blank"><img src="http://assets.jq22.com/plugin/pc-4738c998-2d97-11e4-8b02-000c29f61318.png"></a>-->
                    <!--<div class="cover-info">-->
                        <!--<a href="/jqueryPluginDetial" target="_blank"><h4>jquery单页网站导航插件One Page Nav</h4></a>-->
                        <!--<small>一个轻量级的jQuery的单页网站导航插件。增加了单击后平滑滚动导航和当你浏览不同的部分时自动选择正确的导航项。</small>                       -->
                    <!--</div>  -->
                    <!--<div class="cover-fields">-->
                        <!--<i class="pe-7s-credit"></i> &nbsp;-->
                        <!--滚动,垂直导航-->
                    <!--</div>-->
                    <!--<div class="cover-stat">-->
                        <!--<i class="pe-7s-look"></i><span class="f10"> &nbsp;9704</span>-->
                        <!--<i class="pe-7s-like"></i><span class="f10"> &nbsp;44</span>-->
                        <!--<div class="cover-yh">-->
                            <!--<a href="mem7" data-container="body" data-toggle="popover" data-placement="top" data-content="魔界小鸟 " data-original-title="" title="">-->
                                <!--<i class="fa fa-user-secret"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>        -->
                <!--</div>-->
                <!---->
                <!--<div class="col-lg-4 col-md-3 col-sm-4">-->
                    <!--<a href="/jqueryPluginDetial" target="_blank"><img src="http://assets.jq22.com/plugin/2015-08-25-23-08-04.jpg"></a>-->
                    <!--<div class="cover-info">-->
                        <!--<a href="/jqueryPluginDetial" target="_blank"><h4>视频播放插件Video.js</h4></a>-->
                        <!--<small>Video.js 是一个通用的在网页上嵌入视频播放器的 JS 库，Video.js 自动检测浏览器对 HTML5 的支持情况，如果不支持 HTML5 则自动使用 Flash 播放器。</small>                       -->
                    <!--</div>  -->
                    <!--<div class="cover-fields">-->
                        <!--<i class="pe-7s-credit"></i> &nbsp;-->
                        <!--音频和视频-->
                    <!--</div>-->
                    <!--<div class="cover-stat">-->
                        <!--<i class="pe-7s-look"></i><span class="f10"> &nbsp;171533</span>-->
                        <!--<i class="pe-7s-like"></i><span class="f10"> &nbsp;212</span>-->
                        <!--<div class="cover-yh">-->
                            <!--<a href="mem1" data-container="body" data-toggle="popover" data-placement="top" data-content="hacker " data-original-title="" title="">-->
                                <!--<i class="fa fa-user-secret"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>        -->
                <!--</div>-->
                <!---->
                <!--<div class="col-lg-4 col-md-3 col-sm-4">-->
                    <!--<a href="jquery-info179" target="_blank"><img src="http://assets.jq22.com/plugin/pc-210ab362-2db0-11e4-8b02-000c29f61318.png"></a>-->
                    <!--<div class="cover-info">-->
                        <!--<a href="jquery-info179" target="_blank"><h4>轮菜单</h4></a>-->
                        <!--<small>轮菜单是一个jQuery插件，可以帮您实现一个增加完全可定制的路径轮菜单按钮</small>                       -->
                    <!--</div>  -->
                    <!--<div class="cover-fields">-->
                        <!--<i class="pe-7s-credit"></i> &nbsp;-->
                        <!--其他导航-->
                    <!--</div>-->
                    <!--<div class="cover-stat">-->
                        <!--<i class="pe-7s-look"></i><span class="f10"> &nbsp;9957</span>-->
                        <!--<i class="pe-7s-like"></i><span class="f10"> &nbsp;36</span>-->
                        <!--<div class="cover-yh">-->
                            <!--<a href="mem8" data-container="body" data-toggle="popover" data-placement="top" data-content="WEB小妞 " data-original-title="" title="">-->
                                <!--<i class="fa fa-user-secret"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>        -->
                <!--</div>-->
                <!---->
                <!--<div class="col-lg-4 col-md-3 col-sm-4">-->
                    <!--<a href="jquery-info537" target="_blank"><img src="http://assets.jq22.com/plugin/pc-3aefca96-2db6-11e4-954d-000c29f61318.png"></a>-->
                    <!--<div class="cover-info">-->
                        <!--<a href="jquery-info537" target="_blank"><h4>背景视差插件Simplax</h4></a>-->
                        <!--<small>Simplax用一个简单的方法来创建一个背景视差效果，只用几行javascript在你的网站。</small>                       -->
                    <!--</div>  -->
                    <!--<div class="cover-fields">-->
                        <!--<i class="pe-7s-credit"></i> &nbsp;-->
                        <!--背景-->
                    <!--</div>-->
                    <!--<div class="cover-stat">-->
                        <!--<i class="pe-7s-look"></i><span class="f10"> &nbsp;10287</span>-->
                        <!--<i class="pe-7s-like"></i><span class="f10"> &nbsp;42</span>-->
                        <!--<div class="cover-yh">-->
                            <!--<a href="mem10" data-container="body" data-toggle="popover" data-placement="top" data-content="驱魔人 " data-original-title="" title="">-->
                                <!--<i class="fa fa-user-secret"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>        -->
                <!--</div>-->
                <!---->
                <!--<div class="col-lg-4 col-md-3 col-sm-4">-->
                    <!--<a href="jquery-info563" target="_blank"><img src="http://assets.jq22.com/plugin/pc-a699c27a-3cec-11e4-8fab-00163e001348.png"></a>-->
                    <!--<div class="cover-info">-->
                        <!--<a href="jquery-info563" target="_blank"><h4>jquery音乐播放器</h4></a>-->
                        <!--<small>基于Jplayer制作一款音乐播放器,界面简洁漂亮。</small>                       -->
                    <!--</div>  -->
                    <!--<div class="cover-fields">-->
                        <!--<i class="pe-7s-credit"></i> &nbsp;-->
                        <!--音频和视频-->
                    <!--</div>-->
                    <!--<div class="cover-stat">-->
                        <!--<i class="pe-7s-look"></i><span class="f10"> &nbsp;11445</span>-->
                        <!--<i class="pe-7s-like"></i><span class="f10"> &nbsp;79</span>-->
                        <!--<div class="cover-yh">-->
                            <!--<a href="mem18" data-container="body" data-toggle="popover" data-placement="top" data-content="  西瓜 " data-original-title="" title="">-->
                                <!--<i class="fa fa-user-secret"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>        -->
                <!--</div>-->
                <!---->
                <!--<div class="col-lg-4 col-md-3 col-sm-4">-->
                    <!--<a href="jquery-info332" target="_blank"><img src="http://assets.jq22.com/plugin/pc-23ac564c-29c9-11e4-a320-000c29f61318.png"></a>-->
                    <!--<div class="cover-info">-->
                        <!--<a href="jquery-info332" target="_blank"><h4>DateTimePicker：jQuery日期和时间插件</h4></a>-->
                        <!--<small>DateTimePicket jQuery插件：使用这个插件来悄悄地添加一个DateTimePicker，日期选择器或timepicker下拉到您的表单。</small>                       -->
                    <!--</div>  -->
                    <!--<div class="cover-fields">-->
                        <!--<i class="pe-7s-credit"></i> &nbsp;-->
                        <!--日期和时间-->
                    <!--</div>-->
                    <!--<div class="cover-stat">-->
                        <!--<i class="pe-7s-look"></i><span class="f10"> &nbsp;131738</span>-->
                        <!--<i class="pe-7s-like"></i><span class="f10"> &nbsp;147</span>-->
                        <!--<div class="cover-yh">-->
                            <!--<a href="mem6" data-container="body" data-toggle="popover" data-placement="top" data-content="时光小屋 " data-original-title="" title="">-->
                                <!--<i class="fa fa-user-secret"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>        -->
                <!--</div>-->
                <!---->
                <!--<div class="col-lg-4 col-md-3 col-sm-4">-->
                    <!--<a href="jquery-info466" target="_blank"><img src="http://assets.jq22.com/plugin/pc-0bf0f4be-2d97-11e4-8b02-000c29f61318.png"></a>-->
                    <!--<div class="cover-info">-->
                        <!--<a href="jquery-info466" target="_blank"><h4>jquery背景视屏插件CoverVid</h4></a>-->
                        <!--<small>CoverVid,使视频作为背景封面图片</small>                       -->
                    <!--</div>  -->
                    <!--<div class="cover-fields">-->
                        <!--<i class="pe-7s-credit"></i> &nbsp;-->
                        <!--背景-->
                    <!--</div>-->
                    <!--<div class="cover-stat">-->
                        <!--<i class="pe-7s-look"></i><span class="f10"> &nbsp;11960</span>-->
                        <!--<i class="pe-7s-like"></i><span class="f10"> &nbsp;44</span>-->
                        <!--<div class="cover-yh">-->
                            <!--<a href="mem6" data-container="body" data-toggle="popover" data-placement="top" data-content="时光小屋 " data-original-title="" title="">-->
                                <!--<i class="fa fa-user-secret"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>        -->
                <!--</div>-->
            </div>
            <!--end左-->
            
            <!--右-->
            
            <div class="col-lg-2 visible-lg" style="width:200px">
                <ul class="list-group">
                  <a class="list-group-item on" href="http://www.jq22.com/jq1-jq1" data-para="time"><i class="pe-7s-flag"></i> &nbsp;最新发布</a>
                  <a class="list-group-item" href="http://www.jq22.com/jq1-jq4" data-para="comments"><i class="pe-7s-like"></i> &nbsp;最多收藏</a>
                  <a class="list-group-item" href="http://www.jq22.com/jq1-jq2" data-para="comments"><i class="pe-7s-comment"></i> &nbsp;最多评论</a>
                  <a class="list-group-item" href="http://www.jq22.com/jq1-jq3" data-para="downloads"><i class="pe-7s-bottom-arrow"></i> &nbsp;最多下载</a>
                  <a class="list-group-item" href="http://www.jq22.com/jq1-jq8" data-para="ie8"><i class="pe-7s-bicycle"></i> &nbsp;兼容IE8</a>
                  <a class="list-group-item" href="http://www.jq22.com/jq1-jq6" data-para="ie6"><i class="pe-7s-bicycle"></i> &nbsp;兼容IE6</a> 
                </ul>
            </div>
            
            <!--end右-->
            
            
    </div>
</section>
</body>
</html>